ul li a{
    color: white;
}

ul li{
    border: 2px solid white;
    border-radius: 10%;
}

.anchor-1:hover{
    background-color: #007bff;
}

.anchor-2:hover{
    background-color: #dc3545;
}

.anchor-3:hover{
    background-color: #198754;
}

.style-two{
    color: white;
}