/* ul li a{
    color: white;
}

ul li{
    border: 2px solid white;
    border-radius: 10%;
}

.anchor-1:hover{
    background-color: #007bff;
    border-radius: 10%;
}

.anchor-2:hover{
    background-color: #dc3545;
    border-radius: 10%;
}

.anchor-3:hover{
    background-color: #198754;
    border-radius: 10%;
} */

.style-two{
    color: white;
    margin: 1rem 0 !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }

#navbarDropdownMenuLink{
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }