<div class="container">
    <header class="d-flex justify-content-center py-3" >
      <ul class="nav nav-pills">
          <li class="nav-item" style="margin-right: 15px;"><a class="nav-link anchor-1" aria-current="page" routerLink='/home'>Home</a></li>
          <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['add-restaurant', 'add-restaurant/:id']" >Add Restaurant</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" routerLink='update-restaurant'>Update Restaurant</a></li> -->
          <li class="nav-item" style="margin-right: 5px; margin-left: 5px;"><a class="nav-link anchor-2" routerLink='list-restaurant'>Restaurants List</a></li>
          <li class="nav-item" style="margin-left: 15px; cursor: pointer;"><a class="nav-link anchor-3"  (click)="logoutPage()">Logout</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink='register'>Register</a></li> -->
      </ul>
    </header>
    <hr class="style-two">
  </div>