<div class="container py-4 main">
    <app-header></app-header>

    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Restaurant App</h1>
            <p class="fs-4">This is just a demo Angular application where you can <strong>Add, Update, Remove</strong>
                data
                with simple crud operation using Mock API.</p>
            <button class="btn btn-primary btn-lg" type="button" [routerLink]="[ '/list-restaurant' ]">Get's
                Started</button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-dark bg-light rounded-3">
                <h2>JSON Server</h2>
                <p>JSON is nothing but an open standard file format and data interchange format.</p>
                <a href="https://www.javatpoint.com/json-server"><button class="btn btn-outline-secondary"
                        type="button">Go</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>About This App</h2>
                <p>An Angular App with simple crud operation using Mock API. <br>
                    UI built in Bootstrap. <br>
                    Packages Used : <strong>Bootstrap Pagination</strong>, <strong>Font Awesome</strong>

                </p>
                <button class="btn btn-outline-secondary" type="button" [routerLink]="[ '/list-restaurant' ]">Get's
                    Started</button>
            </div>
        </div>
    </div>
</div>