<div class="container">
    <header class="d-flex justify-content-center py-3">
        <h2>Welcome To Restaurant Management System</h2>
    </header>
    <hr class="style-two">
</div>

<div class="container">
    <div id="main" class="main-container">
        <div class="box">
            <h2>Login</h2>
            <form [formGroup]="loginForm">
                <div class="input-box">
                    <input id="user-name" type="text" formControlName="username" style="margin-bottom: 5px;">
                    <span
                        *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)"
                        style="color: red; font-size: small;">Enter Valid Username !!!</span>
                    <label>Username</label>
                </div>
                <div class="input-box mt-5 mb-3">
                    <div class="inner-icon right-icon">
                        <button (click)="onClick()">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                          </button>
                        <!-- <i class="fa fa-eye" style="cursor: pointer;"></i> -->
                        <input id="user-pass" type="password" formControlName="password" style="margin-bottom: 5px;">
                        <span
                        *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                        style="color: red; font-size: small;">Enter Valid Password !!!</span>
                        <label>
                            Password
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-2 mt-3" [disabled]="loginForm.invalid"
                    (click)="authUser()">Login</button>
            </form>
            <!-- <p><a href="#">New User?</a></p> -->
            <p style="color: #9a9d9e;">New User? &nbsp;<a [routerLink]="[ '/register' ]" style="border-bottom: 1px solid grey;">Register</a></p>
        </div>
    </div>
</div>