.plusButton{
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    margin-bottom: 25px;
    cursor: pointer;
    box-shadow: 0 2px 2px #ffffff;
}

.plusButton:hover{
    background-color: royalblue;
    border-color: royalblue;
    color: white;
}